<mat-dialog-content>
  <section class="envio">
    <div *ngIf="data.validate === 0">
      <span>Cargando datos ...</span>
    </div>
    <span class="delete__mod-title">EDITAR ENVÍO</span>
    <section *ngIf="data.validate !== 0">
      <div class="row">
        <div class="col-md-3 top-fix top-fix ">
          <label for="motorizado" class="form-main-label">Motorizado</label>
          <select class="fix-input" [(ngModel)]="idMotorizado">
            <option value="0">Selecciona un motorizado</option>
            <option [value]="motorizado.id" *ngFor="let motorizado of motorizados"> {{ motorizado.nombres }} </option>
          </select>
        </div>
        <div class="col-md-9 top-fix ">
          <label class="form-main-label"> Dirección entrega </label>
          <input type="string" class="fix-input" [(ngModel)]="direccionReceptor"
            (change)="changeAddressCustomer($event)" />
        </div>
        <div class="col-md-3 top-fix">
          <div class="form-group">
            <label for="date" class="form-main-label"> Fecha de Entrega </label>
            <input type="date" class="fix-input" placeholder="dd/mm/yyyy" [(ngModel)]="fechaEntrega"
              [ngModelOptions]="{ standalone: true }" />
          </div>
        </div>
        <div class="col-md-3 top-fix">
          <label for="estado" class="form-main-label">Estado</label>
          <select class="fix-input" [(ngModel)]="idEstadoEntrega">
            <option [value]="estado.value" *ngFor="let estado of estadosEntregaUpdate"> {{ estado.estado }} </option>
          </select>
        </div>
        <div class="col-md-3 top-fix">
          <label for="modo" class="form-main-label">Modo Entrega</label>
          <select class="fix-input" [(ngModel)]="idModoEntrega" (change)="changeModoEntrega($event)">
            <option [value]="modo.id" *ngFor="let modo of modoEntrega"> {{ modo.value }} </option>
          </select>
        </div>
        <div class="col-md-3 top-fix">
          <label for="metodo" class="form-main-label">Método de pago</label>
          <select class="fix-input" [(ngModel)]="idMetodoPago" (change)="changeMetodoPago($event)">
            <option [value]="metodo.id" *ngFor="let metodo of metodoPago"> {{ metodo.value }} </option>
          </select>
        </div>
        <div class="col-md-3 top-fix">
          <label for="distrito" class="form-main-label"> Distrito </label>
          <select class="fix-input" [(ngModel)]="IDDistrito" (change)="changeDistrito($event)">
            <option [value]="distrito.value" *ngFor="let distrito of distritos"> {{ distrito.name }} </option>
          </select>
        </div>
        <div class="col-md-3 top-fix">
          <label for="delivery" class="form-main-label"> Delivery </label>
          <input type="number" class="fix-input" [(ngModel)]="delivery" />
        </div>
        <div class="col-md-3 top-fix">
          <label for="monto" class="form-main-label"> Monto total </label>
          <input type="number" class="fix-input" [(ngModel)]="montoTotal" />
        </div>
        <div class="col-md-3 top-fix">
          <label class="form-main-label"> Celular cliente </label>
          <input type="string" class="fix-input" [(ngModel)]="celularReceptor" (change)="changePhoneCustomer($event)" />
        </div>
        <div class="col-md-12 top-fix">
          <label class="form-main-label">Motivo</label>
          <textarea rows="3" cols="80" class="fix-input"
            placeholder="Escribe aqui tus observaciones" [(ngModel)]="motivo"
            [ngModelOptions]="{ standalone: true }"></textarea>
        </div>
      </div>
    </section>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="button-index-yellow" mat-button mat-dialog-close> Cancelar </button>
  <button class="button-index-green" mat-button (click)="updateEnvioFecha()"> Guardar </button>
</mat-dialog-actions>