<div class="logo-name">
  <div class="logo-image">
    <img src="./assets/img/logo.png" alt="" (click)="toggleNavClass()">
  </div>
  <span class="logo_name">Japi Express</span>
  <i class="uil uil-bars sidebar-toggle custom-class" (click)="toggleNavClass()"></i>
</div>
<div class="menu-items">
  <ul class="nav-links">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
      <a [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.icon }}"></i>
        <span class="link-name">{{ menuItem.title }}</span>
      </a>
    </li>
  </ul>
  <ul class="logout-mode">
    <li>
      <a href="#">
        <i class="uil uil-signout"></i>
        <span class="link-name">CERRAR SESIÓN</span>
      </a>
    <li class="mode">
      <!-- <a href="#">
        <i class="uil uil-moon"></i>
        <span class="link-name">MODO OSCURO</span>
      </a>
      <div class="mode-toggle">
        <span class="switch"></span>
      </div> -->
    </li>
  </ul>
</div>