.delete__mod-title {
  text-align: left;
  font-size: 16px;
  font-weight: var(--font-bold);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0px !important;
  color: var(--text-color-title);
}

.fix-input {
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #9A9A9A;
  outline: none;
}

.div-admin {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px 0px;
}

.error-message {
  margin-top: 8px;
  color: red;
  font-weight: 500;
  padding-left: 16px;
}

.actions-container {
  margin-bottom: 8px;
}