.center {
  align-items: center;
}

.size {
  min-width: 110px;
}

.contain_fecha {
  display: flex;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.table-responsive {
  height: 600px;
  overflow: scroll;
}

.verde {
  background-color: #3CBEA9;
  color: white;
  text-align: center;
  padding: 0.3rem;
  border-radius: 8px;
}

.blanco {
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.amarillo {
  background-color: yellow;
  font-weight: bold;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.red {
  background-color: red;
  font-weight: bold;
  font-size: 15px;
  height: 100%;
  width: 100%;
  text-align: center;
}