<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="top">
  <span class="user-title">ENVÍOS POR FECHA</span>
  <div>
    <span class="user-title">¡Bienvenido! <a class="green-primary">{{userName | capitalizefirstletter}}</a></span>
    <img src="assets/img/foto1.jpg" alt="">
  </div>
</div>
<div class="dash-content">
  <div>
    <div class="overview">
      <div class="div-row">
        <div class="date date-class">
          <p class="subtitle-pages">DESDE</p>
          <input id="date-start" #dateStartInput type="date" placeholder="dd/mm/yyyy" class="wid-100">
        </div>
        <div class="date date-class">
          <p class="subtitle-pages">HASTA</p>
          <input id="date-end" #dateEndInput type="date" placeholder="dd/mm/yyyy" class="wid-100">
        </div>
        <div class="date">
          <a class="button-search button-fix" (click)="searchByDate()"> Consultar </a>
        </div>
      </div>
      <div class="div-row">
        <div class="date-class form-input">
          <form id="form" action="post" class="mar-top-12 wid-100">
            <select class="list pad-list wid-100" name="select1" id="entrega"
              (change)="selectSpinner($event.target.value)">
              <option value="">Elige un campo</option>
              <option value="descripcion">Descripción del producto</option>
              <option value="distritoName">Distrito</option>
              <option value="nombre_estado">Estado</option>
              <option value="modo_entrega">Modo de entrega</option>
              <option value="vendedor">Nombre de la empresa</option>
              <option value="comprador">Nombre del comprador</option>
              <option value="nombre_motorizado">Nombre del motorizado</option>
              <option value="tele_entrega">Teléfono del comprador</option>
            </select>
          </form>
        </div>
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt" class="search-box3 mar-top-12">
        <div class="date">
          <a class="button-search button-fix" (click)="filterList()">Filtrar </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tabla-container">
    <table class="tabla__content tabla-content">
      <thead>
        <tr>
          <th class="separacion"> N° </th>
          <th class="separacion size-100"> Vendedor </th>
          <th class="separacion size-100"> Comprador </th>
          <th class="separacion size-1 00"> Teléfono</th>
          <th class="separacion "> Monto cobrar</th>
          <th class="separacion"> Método pago</th>
          <th class="separacion size-100"> Modo entrega</th>
          <th class="separacion size-100"> Observaciones </th>
          <th class="separacion"> Distrito </th>
          <th class="separacion"> Estado </th>
          <th class="separacion"> Moto </th>
          <th class="separacion"> Opciones</th>
          <th class="separacion"> Detalle </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envio of data; index as i">
          <td data-label="N°"> {{i+1}} </td>
          <td data-label="Vendedor"> {{envio.vendedor | uppercase}} </td>
          <td data-label="Comprador"> {{envio.comprador | uppercase}} </td>
          <td data-label="Telefono"> {{envio.tele_entrega}} </td>
          <td data-label="Monto total"> {{envio.monto_total | currency: " "}} </td>
          <td data-label="Método de pago"> {{envio.metodo_pago}} </td>
          <td data-label="Modo de entrega"> {{envio.modo_entrega}} </td>
          <td data-label="Producto"> {{envio.observacion | capitalizefirstletter}} </td>
          <td data-label="Cantidad"> {{envio.distritoName}} </td>
          <td data-label="Estado"><span [ngClass]="getStateClass(envio.estado)">{{ envio.estado }}</span></td>
          <td data-label="Motorizado"> {{envio.nombre_motorizado}} </td>
          <td data-label="Opciones" class="td-button">
            <ng-template [ngIf]="tipoUser!=4">
              <a class="button-index-green white" (click)="editarEnvio(envio)"> Editar </a>
            </ng-template>
            <a class="button-index-red white" (click)="openModalDelete(envio)"> Eliminar </a>
          </td>
          <td data-label="Detalle">
            <a class="button-detail detail__button" id="open-modal" (click)="showModalShipmentDetail(envio)">
              <i class="uil uil-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>