<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="top">
  <i class="uil uil-bars sidebar-toggle"> <span class="title-pages"> Envios por fecha </span></i>
  <div class="search-box">
    <!-- <i class="uil uil-search"></i> -->
    <input type="text" placeholder="Buscar" class="search-box3">
  </div>
  <img src="assets/img/foto1.jpg" alt="">
</div>
<div class="dash-content">
  <div>
    <div class="overview">
      <div class="div-row">
        <div class="date date-class">
          <p class="subtitle-pages">DESDE</p>
          <input id="date-start" #dateStartInput type="date" placeholder="dd/mm/yyyy" class="wid-100">
        </div>
        <div class="date date-class">
          <p class="subtitle-pages">HASTA</p>
          <input id="date-end" #dateEndInput type="date" placeholder="dd/mm/yyyy" class="wid-100">
        </div>
        <div class="date">
          <a class="button-search button-fix" (click)="searchByDate()"> Consultar </a>
        </div>
      </div>
      <div class="div-row">
        <div class="date-class form-input">
          <form id="form" action="post" class="mar-top-12 wid-100">
            <select class="list pad-list wid-100" name="select1" id="entrega" (change)="selectSpinner($event.target.value)">
              <option value="">Elige un campo</option>
              <option value="descripcion">Descripción del producto</option>
              <option value="distritoName">Distrito</option>
              <option value="nombre_estado">Estado</option>
              <option value="modo_entrega">Modo de entrega</option>
              <option value="nombre">Nombre de la empresa</option>
              <option value="nombres">Nombre del comprador</option>
              <option value="nombre_motorizado">Nombre del motorizado</option>
              <option value="tele_entrega">Teléfono del comprador</option>
            </select>
          </form>
        </div>
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt" class="search-box3 mar-top-12">
        <div class="date">
          <a class="button-search button-fix" (click)="filterList()">Filtrar </a>
        </div>
      </div>
    </div>
    <!-- <div class="div-column">
      <div class="date">
        <p class="subtitle-pages">DESDE</p>
        <input id="date-start" #dateStartInput type="date" placeholder="dd/mm/yyyy">
      </div>
      <div class="space">
        <form id="form" action="post">
          <select class="list" name="select1" id="entrega">
            <option value="disabled selected">Elige un campo</option>
            <option value="ejemplo1">Descripción del producto</option>
            <option value="ejemplo2">Distrito</option>
            <option value="ejemplo3">Estado</option>
            <option value="ejemplo4">Modo de entrega</option>
            <option value="ejemplo5">Nombre del comprador</option>
            <option value="ejemplo5">Nombre del motorizado</option>
            <option value="ejemplo5">Teléfono del comprador</option>
          </select>
        </form>
      </div>
    </div>
    <div>
      <div class="date">
        <p class="subtitle-pages">HASTA</p>
        <input id="date-end" #dateEndInput type="date" placeholder="dd/mm/yyyy">
      </div>
      <div class="search-box2">
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt">
      </div>
    </div>
    <div>
      <div class="right-button">
        <a class="button-search button-fix" (click)="searchByDate()"> Buscar </a>
      </div>
      <div class="right-button">
        <a class="button-search"> Filtrar </a>
      </div>
    </div> -->
    <!-- <div>
      <div class="text">
        <span class="text">
          <h2>Filtrar</h2>
        </span>
        <div class="text-search">
          <div class="space">
            <span class="text">
              <h3>FECHA DE CONSULTA</h3>
            </span>
            <div class="date">
              <h4>DESDE</h4>
              <input id="date-start" #dateStartInput type="date" placeholder="dd/mm/yyyy">
            </div>
            <div class="date">
              <h4>HASTA</h4>
              <input id="date-end" #dateEndInput type="date" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="space">
            <span class="text">
              <h3> ELIGE UN CAMPO </h3>
            </span>
            <form id="form" action="post" class="form">
              <select class="list" name="select1" id="entrega">
                <option value="disabled selected">Elige un campo</option>
                <option value="ejemplo1">Descripción del producto</option>
                <option value="ejemplo2">Distrito</option>
                <option value="ejemplo3">Estado</option>
                <option value="ejemplo4">Modo de entrega</option>
                <option value="ejemplo5">Nombre del comprador</option>
                <option value="ejemplo5">Nombre del motorizado</option>
                <option value="ejemplo5">Teléfono del comprador</option>
              </select>
            </form>
          </div>
          <div>
            <span class="text">
              <h3>FILTRAR </h3>
              <div class="search-box2">
                <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt">
              </div>
            </span>
          </div>
          <div class="right-button">
            <a class="button-search" (click)="searchByDate()"> Filtrar </a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="tabla-container">
    <table class="tabla__content">
      <thead>
        <tr>
          <th class="separacion"> N° </th>
          <th class="separacion"> Vendedor </th>
          <th class="separacion"> Comprador </th>
          <th class="separacion"> Teléfono</th>
          <th class="separacion"> Monto cobrar</th>
          <th class="separacion"> Método pago</th>
          <th class="separacion"> Modo entrega</th>
          <th class="separacion"> Observaciones </th>
          <th class="separacion"> Distrito </th>
          <th class="separacion"> Estado </th>
          <th class="separacion"> Moto </th>
          <th class="separacion"> Detalle </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envio of data; index as i">
          <td data-label="N°"> {{i+1}} </td>
          <td data-label="Vendedor"> {{envio.nombre | uppercase}} </td>
          <td data-label="Comprador"> {{envio.nombres | uppercase}} </td>
          <td data-label="Comprador"> {{envio.telefono | formatphone}} </td>
          <td data-label="Monto total"> {{envio.monto_total | currency: "S/ "}} </td>
          <td data-label="Método de pago"> {{envio.metodo_pago || "No tiene"}} </td>
          <td data-label="Modo de entrega"> {{envio.modo_entrega}} </td>
          <td data-label="Producto"> {{envio.observacion || "No tiene"}} </td>
          <td data-label="Cantidad"> {{envio.distritoName}} </td>
          <td data-label="Estado">
            <p *ngIf="envio.nombre_estado == 'entregado'"> {{envio.nombre_estado}} </p>
            <div *ngIf="envio.nombre_estado == 'programado' 
              || envio.nombre_estado == 'pendiente' 
              || envio.nombre_estado == 'en ruta' 
              || envio.nombre_estado == 'Observado'" class="verde"> {{envio.nombre_estado | capitalizefirstletter}}
            </div>
            <!-- entregado  -->
          </td>
          <td data-label="Opciones" class="td-button">
            <a href="#" class="button-index-green"> Editar </a>
            <a href="#" class="button-index-red"> Eliminar </a>
          </td>
          <td data-label="Detalle">
            <a href="#" class="button-detail detail__button" id="open-modal">
              <i class="uil uil-edit"></i>
            </a>
            <div class="detail__modal">
              <div class="detail__modal-content detail__modal--bd">
                <h3 class="detail__modal-title">DETALLE POR FECHA</h3>
                <i class="uil uil-times detail__modal-close"></i>
                <div class="division-grid">
                  <div>
                    <h3 class="detail__title">datos generales</h3>
                    <div class="space__h4 date-grid">
                      <h4>N° Producto</h4>
                      <h4>1</h4>
                      <h4>Vendedor</h4>
                      <h4>Juan monje</h4>
                      <h4>Producto</h4>
                      <h4>Gaseosa</h4>
                      <h4>Cantidad</h4>
                      <h4>2</h4>
                      <h4>Fecha de entrega</h4>
                      <h4>26</h4>
                      <h4>Monto a cobrar</h4>
                      <h4>4</h4>
                      <h4>Método de pago</h4>
                      <h4>Efectivo</h4>
                      <h4>Estado</h4>
                      <h4>Entregado</h4>
                    </div>
                  </div>
                  <div>
                    <h3 class="detail__title">Datos del cliente</h3>
                    <div class="space__h4 date-grid">
                      <h4>Comprador</h4>
                      <h4>Mario Hart</h4>
                      <h4>Distrito</h4>
                      <h4>Ate</h4>
                      <h4>Dirección de entrega</h4>
                      <h4>Calle las gencianas 150</h4>
                      <h4>Telefono comprador</h4>
                      <h4>987 656 678</h4>
                    </div>
                  </div>
                  <div>
                    <h3 class="detail__title">Datos de envio</h3>
                    <div class="space__h4 date-grid">
                      <h4>Delivery</h4>
                      <h4>s/.5.00</h4>
                      <h4>Motivo</h4>
                      <h4>No tiene</h4>
                      <h4>Motorizado</h4>
                      <h4>Pedro Muñoz</h4>
                      <h4>Modificación</h4>
                      <h4>No tiene</h4>
                    </div>
                  </div>
                  <div>
                    <h3 class="detail__title">Datos adicionales</h3>
                    <div class="space__h4 date-grid">
                      <h4>Modo de entrega</h4>
                      <h4>Contra-entrega</h4>
                      <h4>Servicio</h4>
                      <h4>Regular</h4>
                      <h4>Rango de horario</h4>
                      <h4>9:00am -6:00pm</h4>
                      <h4>Observaciones</h4>
                      <h4>Pagará con tarjeta</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body d-flex align-items-center">
        <input
          id="date-start"
          type="date"
          class="form-control form-main-input col-md-3 mr-2"
          placeholder="dd/mm/yyyy"
        />
        <input
          id="date-end"
          type="date"
          class="form-control form-main-input col-md-3 mr-2"
          placeholder="dd/mm/yyyy"
        />
        <button
          class="btn btn-green"
          id="btn-search-date"
          (click)="searchByDate($event)"
        >
          Consultar
        </button>
      </div>
      <div class="card-body d-flex align-items-center">
        <select
          class="form-select form-main-select col-md-3 mr-2"
          id="entrega"
          style="display: block"
          (change)="selectSpinner($event.target.value)"
        >
          <option [value]="o.id" *ngFor ="let o of spinner">
            {{ o.descripcion }}
          </option>
        </select>
        <input
          type="text"
          name="search"
          id="search"
          class="form-control form-main-input col-md-3 mr-2"
          [(ngModel)]="searchTxt"
          placeholder="Buscar"
        />
        <button
          class="btn btn-green"
          id="btn-search-date"
          (click)="filterList()"
        >
          Filtrar
        </button>
      </div>
      <div class="card-header">
        <h2 class="card-title">Envios por Fechas</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-head">
              <th scope="col">N°</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Producto</th>
              <th scope="col">Cant</th>
              <th class="size" scope="col">Fecha de entrega</th>

              <th scope="col">Comprador</th>
              <th class="size" scope="col">Telefono comprador</th>
              <th class="size" scope="col">Dirección de entrega</th>
              <th class="size" scope="col">Monto a cobrar</th>
              <th class="size" scope="col">Método de pago</th>

              <th class="size" scope="col">Modo de entrega</th>
              <th scope="col">Servicio</th>
              <th class="size" scope="col">Rango de horario</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Distrito</th>

              <th scope="col">Estado</th>
              <th scope="col">Delivery</th>
              <th scope="col">Motivo</th>
              <th scope="col">Moto</th>
              <th scope="col">Opciones</th>
              <th scope="col">Modificación</th>
            </thead>
            <tbody>
              <tr *ngFor="let envio of data; index as i">
                <th>{{ i + 1 }}</th>
                <td>{{ envio.nombre }}</td>
                <td>{{ envio.descripcion }}</td>
                <td>{{ envio.cantidad }}</td>
                <td>{{ envio.fecha_entrega }}</td>

                <td>{{ envio.nombres }}</td>
                <td>{{ envio.tele_entrega }}</td>
                <td>{{ envio.d_entrega }}</td>
                <td>{{ envio.monto_total | currency: "S/" }}</td>
                <td>{{ envio.metodo_pago || "No tiene" }}</td>

                <td>{{ envio.modo_entrega }}</td>
                <td>{{ envio.tipo_servicio }}</td>
                <td>{{ envio.horario }}</td>
                <td>{{ envio.observacion || "No tiene" }}</td>
                <td>{{ envio.distritoName }}</td>

                <td>
                  <div *ngIf="envio.nombre_estado == 'entregado'" class="verde">
                    {{ envio.nombre_estado }}
                  </div>
                  <div *ngIf="envio.nombre_estado == 'programado' || envio.nombre_estado == 'pendiente' || envio.nombre_estado == 'en ruta' || envio.nombre_estado == 'Observado'" class="blanco">
                    {{ envio.nombre_estado }}
                  </div>
                  <div
                    *ngIf="
                      envio.nombre_estado == 'reprogramado' ||
                      envio.nombre_estado == 'repro. por cobrar'
                    "
                    class="amarillo"
                  >
                    {{ envio.nombre_estado }}
                  </div>
                  <div
                    *ngIf="
                      envio.nombre_estado == 'caída' ||
                      envio.nombre_estado == 'Caida por cobrar'
                    "
                    class="red"
                  >
                    {{ envio.nombre_estado }}
                  </div>
                </td>
                <td>{{ envio.delivery | currency: "S/" }}</td>
                <td>{{ envio.motivo || "No tiene" }}</td>
                <td>{{ envio.nombre_motorizado || "No tiene" }}</td>
                <td>
                  <div class="contain_fecha">
                    <button class="btn btn-green" (click)="editarEnvio(envio)">
                      Editar
                    </button>
                    <button
                      class="btn btn-danger ml-1"
                      (click)="openModalDelete(envio)"
                    >
                      Eliminar
                    </button>
                  </div>
                </td>
                <td>{{ envio.modificacion || "No tiene" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->