<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="top">
  <span class="user-title">USUARIOS EXTERNOS</span>
  <div>
    <span class="user-title">¡Bienvenido! <a class="green-primary">{{userName | capitalizefirstletter}}</a></span>
    <img src="assets/img/foto1.jpg" alt="">
  </div>
</div>
<div class="dash-content">
  <div>
    <div class="overview">
      <div class="div-row">
        <div class="date-class form-input">
          <form id="form" action="post" class="mar-top-12 wid-100">
            <select class="list pad-list wid-100" name="select1" id="entrega"
              (change)="selectSpinner($event.target.value)">
              <option [value]="o.id" *ngFor="let o of spinner"> {{ o.descripcion }} </option>
            </select>
          </form>
        </div>
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt" class="search-box3 mar-top-12">
        <div class="date">
          <a class="button-search button-fix" (click)="filterList()">Filtrar </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length !== 0" class="tabla-container">
    <table class="tabla__content tabla-content">
      <thead>
        <tr>
          <th class="separacion"> N° </th>
          <th class="separacion"> Dueño </th>
          <th class="separacion"> Empresa </th>
          <th class="separacion"> Correo </th>
          <th class="separacion"> Contraseña </th>
          <th class="separacion"> DNI </th>
          <th class="separacion"> Teléfono </th>
          <th class="separacion"> Distrito </th>
          <th class="separacion"> Dirección </th>
          <th class="separacion"> Banco </th>
          <th class="separacion"> Cuenta </th>
          <th class="separacion"> Titular </th>
          <th class="separacion"> Opciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of data; index as i">
          <td> {{ i+1 }} </td>
          <td>{{ usuario.duenio }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.pass }}</td>
          <td>{{ usuario.dni }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.nombreDistrito }}</td>
          <td>{{ usuario.direccion }}</td>
          <td>{{ usuario.banco }}</td>
          <td>{{ usuario.cuenta }}</td>
          <td>{{ usuario.titular }}</td>
          <td class="td-button">
            <a class="button-index-green white" (click)="editSolicitud(usuario)"> Editar </a>
            <a [ngClass]="{'button-index-yellow white': usuario.activo === 0, 'button-index-red white': usuario.activo === 1}"
              (click)="cambiarEstadoUsuario(usuario)"> {{ usuario.activo === 1 ? 'Eliminar' : 'Activar' }} </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.length === 0" class="tabla-container">
    <p>Usuarios externos ...</p>
  </div>
</div>