<div>
  <div class="detail__mod-title-container">
    <p class="detail__mod-title">Detalle del envío</p>
    <button mat-dialog-close class="mat-dialog-close">
      <i class="uil uil-times detail__mod-title-close"></i>
    </button>
  </div>
  <mat-dialog-content>
    <div class="division-grid">
      <div>
        <p class="detail__title">Datos generales</p>
        <div *ngIf="tipoUsuario == 2" class="space__h4 date-grid">
          <p>Producto</p>
          <p>{{ envio.descripcion }}</p>
          <p>Cantidad</p>
          <p>{{ envio.cantidad }}</p>
          <p>Fecha de entrega</p>
          <p>{{ envio.fecha_entrega }}</p>
          <p>Dirección de entrega</p>
          <p>{{ envio.d_entrega }}</p>
          <p>Servicio</p>
          <p>{{ envio.tipo_servicio }}</p>
          <p>Rango de horario</p>
          <p>{{ envio.horario }}</p>
          <p>Delivery</p>
          <p>S/ {{ envio.delivery }}</p>
          <p>Motivo</p>
          <p>{{ envio.motivo || '-' }}</p>
          <p>Asesor</p>
          <p>{{ envio.asesor || 'xanadu' }}</p>
          <p>Última modificación</p>
          <p>{{ envio.nomb_modif ? envio.nomb_modif + ' -' : '' }} {{ envio.fecha_modifica || '' }}</p>
          <p>Hora y fecha de creación</p>
          <p>{{ envio.fecha_registro || '' }} </p>
        </div>
      </div>
      <div *ngIf="tipoUsuario == 1" class="space__h4 date-grid">
        <p>Dirección</p>
        <p>{{ envio.d_entrega }}</p>
        <p>Método pago</p>
        <p>{{ envio.metodo_pago}}</p>
        <p>Modo entrega</p>
        <p>{{ envio.modo_entrega }}</p>
        <p>Delivery</p>
        <p>{{ envio.delivery | currency: "S/" }}</p>
        <p>DNI Motorizado</p>
        <p>{{ envio.dni_motorizado || "No tiene" }}</p>
        <p>Nombre motorizado</p>
        <p>{{ envio.nombre_motorizado || "No tiene" }}</p>
        <p>Placa moto</p>
        <p>{{ (envio.placaMoto | uppercase ) || "No tiene" }}</p>
        <p>Motivo</p>
        <p>{{ envio.motivo || "No tiene" }}</p>
        <p>Observaciones</p>
        <p>{{ envio.observaciones || "" }}</p>
      </div>
    </div>
  </mat-dialog-content>
</div>