<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
  id="navbar"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse()"
      [attr.aria-expanded]="isCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#collapseNavbar"
      aria-controls="collapseNavbar"
      id="navbarButton"
    >
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapseNavbar"
    >
      <form>
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Buscar..."
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="now-ui-icons ui-1_zoom-bold"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            class="nav-link dropdown-button"
            mat-button
            [matMenuTriggerFor]="belowMenu"
          >
            <i class="now-ui-icons location_world"></i>
            <p>
              <span class="d-lg-none d-md-block">Opciones</span>
            </p>
          </button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <a
              class="dropdown-item"
              *ngFor="let ruta of rutas"
              [routerLink]="[ruta.path]"
              >{{ ruta.title }}</a
            >
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
