<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body fix-card-body">
        <h3 class="card-title">Registro de servicios</h3>
        <form>
          <div>
            <p class="margenTop bold">DATOS DE QUIEN RECIBE EL PRODUCTO</p>
            <div class="row">
              <div class="col-md-5">
                <input type="text" class="fix-input" placeholder="Nombre de la persona quién recibe" [(ngModel)]="name"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
              <div class="col-md-3">
                <input type="number" class="fix-input" placeholder="Celular" maxlength="9" [(ngModel)]="number"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
              <div class="col-md-4">
                <select class="fix-input" id="distrito" placeHolder="Seleccione un distrito"
                  (change)="selectDistrito($event.target.value)">
                  <option [value]="distrito.value" *ngFor="let distrito of distritos"> {{ distrito.name }} </option>
                </select>
                <span *ngIf="distrito" id="delivery-price" class="mt-2 text-primary small-font"> Precio de Delivery:
                  <span>{{deliveryPrecio | currency: "S/" }}</span>
                </span>
              </div>
              <br><br>
              <div class="col-md-12">
                <input type="text" class="fix-input" placeholder="Dirección de entrega" [(ngModel)]="direction"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </div>
          </div>
          <hr *ngIf="verificarCamposLlenosReceptor()" class="hr-estilo">
          <div *ngIf="verificarCamposLlenosReceptor()">
            <p class="margenTop bold">DATOS DEL SERVICIO</p>
            <div class="row">
              <div class="col-md-4">
                <input type="date" class="fix-input" placeholder="yyyy-mm-dd" [(ngModel)]="fechaEntrega"
                  [ngModelOptions]="{ standalone: true }" />
                <p class="alerta small-font"> <strong>Fecha de entrega</strong>, recuerda colocarla correctamente, Japi
                  Express no se hace responsable por el mal llenado de datos. </p>
              </div>
              <div class="col-md-4">
                <select class="fix-input" id="entrega" style="display: block"
                  (change)="selectOption($event.target.value)">
                  <option [value]="o.id" *ngFor="let o of options"> {{ o.value }} </option>
                </select>
              </div>
              <div *ngIf="validator === 1" class="col-md-4">
                <select class="fix-input" id="entrega" placeholder="Método de pago"
                  (change)="paymentOption($event.target.value)">
                  <option [value]="o.id" *ngFor="let o of paymentMethod"> {{ o.value }} </option>
                </select>
                <p *ngIf="tarjeta == 1" class="text-primary small-font"> El cobro con tarjeta es con recargo del 5%.</p>
              </div>
            </div>
          </div>
          <hr *ngIf="verificarCamposLlenosEnvio()" class="hr-estilo">
          <div *ngIf="verificarCamposLlenosEnvio()">
            <p class="margenTop bold">DATOS DEL PRODUCTO</p>
            <div class="row">
              <div class="col-md-12">
                <label class="label-producto">
                  <input type="checkbox" class="tamanio" (change)="eventCheck($event)" />
                  <span class="sizeSpan"> Este producto se encuentra en almacén</span>
                </label>
              </div>
              <div *ngIf="spinner.length === 0 && check">
                <p class="text-primary small-font"> No tienes productos registrados en tu almacén </p>
              </div>
              <div *ngIf="spinner.length !== 0 && check" class="row col-md-12">
                <div class="col-md-9">
                  <select class="fix-input margenTop" id="entrega" (change)="selectSpinner($event.target.value)">
                    <option value="0">Elige el producto</option>
                    <option [value]="o.id" *ngFor="let o of spinner"> {{ o.descripcion }} - {{ o.cantidad }} </option>
                  </select>
                </div>
                <div class="col-md-3">
                  <input type="number" class="fix-input margenTop" placeholder="Cant. envíos" [(ngModel)]="cantidad"
                    [ngModelOptions]="{ standalone: true }" />
                </div>
              </div>
              <div *ngIf="!check" class="row col-md-12">
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" class="fix-input margenTop" placeholder="Descripción del producto"
                      [(ngModel)]="descripcion" [ngModelOptions]="{ standalone: true }" />
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="number" class="fix-input margenTop" placeholder="Cantidad de envíos"
                    [(ngModel)]="cantidad" [ngModelOptions]="{ standalone: true }" />
                </div>
                <div class="col-md-12">
                  <div *ngIf="condi == 0">
                    <label class="label-producto">
                      <input type="checkbox" class="tamanio" (change)="eventCheckIncludesDelivery($event)" />
                      <span class="sizeSpan"> Incluye delivery</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngIf="condi == 0" class="form-group">
                    <input type="number" class="fix-input margenTop"
                      [placeholder]="checkDelivery? 'Importe a cobrar (Con delivery)': 'Importe a cobrar (Sin delivery)'"
                      [(ngModel)]="precioProducto" [ngModelOptions]="{ standalone: true }" maxlength="6" />
                  </div>
                </div>
                <div class="col-md-12">
                  <textarea rows="4" cols="80" class="fix-input margenTop" placeholder="Escribe aqui tus observaciones"
                    [(ngModel)]="observacion" [ngModelOptions]="{ standalone: true }"></textarea>
                </div>
                <div class="col-md-12">
                  <div class="fix-add">
                    <i class="uil uil-plus-circle"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="test2">
            <button class="btn btn-green test" (click)="registroEnvio()"> Registrar Envío </button>
            <span id="button-message" class="form-main-input-error text-center">
            </span>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-add">
      <p class="margenTop bold">SUBIR VARIOS PRODUCTOS <br> <span class="light">A partir de 10 envíos</span></p>
      <div class="row col-md-12">
        <input type="file" hidden id="file-input"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          (change)="changeInputEvent($event)" />
        <button class="col-md-5 button-index-yellow white button-envio-fix " target="_blank"
          href="https://drive.google.com/file/d/1DEf6JztnL1qovDvzRmmZ69OPzUx0uxv5/view?usp=sharing"> Descargar plantilla
        </button>
        <button class="col-md-5 button-index-green white button-envio-fix x" id="file-button" (click)="uploadFile()">
          Cargar archivo </button>
      </div>
    </div>
    <div class="col-md-12 card card-user border">
      <div class="image">
        <img src="../assets/img/metodos-de-envio.jpg" alt="..." />
      </div>
      <div class="card-body">
        <h1 class="negrita">VOUCHER DE ENVIO</h1>
        <div>
          <h4>MI ENVIO</h4>
          <p class="description">Destinatario: {{ name }}</p>
          <p class="description">Celular: {{ number }}</p>
          <p class="description">Dirección de entrega: {{ direction }}</p>
        </div>
        <hr class="hr-estilo">
        <div class="margenTop">
          <h5>DATOS DEL PRODUCTO</h5>
          <p *ngIf="condi == 0" class="description"> SubTotal: {{ precioProducto * cantidad | currency: "S/" || "" }}
          </p>
          <p *ngIf="condi == 1" class="description">SubTotal: S/0.00</p>
          <p class="description"> Delivery: {{ deliveryPrecio | currency: "S/" || "" }} </p>
          <p class="description"> Comisión (pago con tarjeta): {{ comision | currency: "S/" || "" }} </p>
          <p *ngIf="condi == 0" class="description"> Monto Total a cobrar: {{ precioProducto * cantidad + deliveryPrecio
            + comision | currency: "S/" || "" }} </p>
          <p *ngIf="condi == 1" class="description"> Monto Total a cobrar: S/0.00 </p>
          <p *ngIf="condi == 1"> Al elegir la opción SOLO ENTREGAR no cobraremos ni el delivery ni el costo del
            producto. </p>
          <p class="description">Descripción: {{ descripcion }}</p>
          <p class="description">Modo de entrega: {{ modoEntrega }}</p>
          <p class="description">Fecha: {{ fechaEntrega }}</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>