<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="top">
  <span class="user-title">MIS ENVÍOS</span>
  <div>
    <span class="user-title">¡Bienvenidos! <a class="green-primary">{{userName | capitalizefirstletter}}</a></span>
    <img src="assets/img/foto1.jpg" alt="">
  </div>
</div>
<div class="dash-content">
  <div>
    <div class="overview">
      <div class="div-row">
        <div class="date date-class">
          <input id="date-start" #dateStartInput type="date" placeholder="dd/mm/yyyy" class="wid-100"
            [(ngModel)]="dateFilter">
        </div>
        <div>
          <a class="button-search button-fix" (click)="searchByDate()"> Consultar </a>
        </div>
      </div>
      <div class="div-row">
        <div class="date-class form-input">
          <form id="form" action="post" class="mar-top-12 wid-100">
            <select class="list pad-list wid-100" name="select1" id="entrega"
              (change)="selectSpinner($event.target.value)">
              <option [value]="o.id" *ngFor="let o of spinner"> {{ o.descripcion }} </option>
            </select>
          </form>
        </div>
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt" class="search-box3 mar-top-12">
        <div class="date">
          <a class="button-search button-fix" (click)="filterList()">Filtrar </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length !== 0" class="tabla-container">
    <table class="tabla__content tabla-content">
      <thead>
        <tr>
          <th>N°</th>
          <th scope="col">Producto</th>
          <th scope="col">Cant</th>
          <th scope="col">Fecha entrega</th>
          <th scope="col">Comprador</th>
          <th scope="col">Teléfono</th>
          <th>Monto total</th>
          <th scope="col">Distrito</th>
          <th scope="col">Estado</th>
          <th scope="col"> Opciones</th>
          <th scope="col"> Detalle </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envio of data; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ envio.descripcion }}</td>
          <td>{{ envio.cantidad }}</td>
          <td>{{ envio.fecha_entrega }}</td>
          <td>{{ envio.comprador }}</td>
          <td>{{ envio.tele_entrega }}</td>
          <td>{{ envio.monto_total | currency: "S/" }}</td>
          <td>{{ envio.distritoName }}</td>
          <td data-label="Estado">
            <span [ngClass]="getStateClass(envio.estado)">{{ envio.estado }}</span>
          </td>
          <td data-label="Opciones" class="td-button">
            <a *ngIf="envio.estado === 'Pendiente'" class="button-index-green white" (click)="editarEnvio(envio)"> Editar </a>
            <a *ngIf="envio.estado === 'Pendiente'" class="button-index-red white" (click)="openModalDelete(envio)"> Eliminar </a>
          </td>
          <td data-label="Detalle">
            <a class="button-detail detail__button" id="open-modal" (click)="showModalShipmentDetail(envio)">
              <i class="uil uil-edit"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th>Precio</th>
          <th>{{ precio | currency: "S/" }}</th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="data.length === 0" class="tabla-container">
    <p>No tienes envíos</p>
  </div>
</div>