<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="row">
  <div class="card">
    <div class="card-body d-flex align-items-center">
      <select
        class="form-select form-main-select col-md-3 mr-2"
        id="entrega"
        style="display: block"
        (change)="selectSpinner($event.target.value)"
      >
        <option [value]="o.id" *ngFor="let o of opciones">
          {{ o.descripcion }}
        </option>
      </select>
      <input
        type="text"
        name="search"
        id="search"
        class="form-control form-main-input col-md-3 mr-2"
        [(ngModel)]="searchTxt"
        placeholder="Buscar"
      />
      <button
        class="btn btn-green"
        id="btn-search-date"
        (click)="filterList()"
      >
        Filtrar
      </button>
    </div>
    <div class="card-header">
      <h2 class="card-title">Activación de Cuentas</h2>
    </div>
    <div class="card-body">
      <div *ngIf="data.length !== 0" class="table-responsive">
        <table class="table table-hover">
          <thead class="table-head">
            <th scope="col">N°</th>
            <th scope="col">Nombre de la persona</th>
            <th scope="col">Nombre de la Empresa</th>
            <th scope="col">Telefono</th>
            <th scope="col">Activación</th>
          </thead>
          <tbody>
            <tr *ngFor="let envio of data; index as i">
              <th>{{ i + 1 }}</th>
              <td>{{ envio.nombre_persona }}</td>
              <td>{{ envio.nombre_empresa }}</td>
              <td>{{ envio.telefono }}</td>
              <td>
                <button
                  class="btn btn-yellow m-1"
                  (click)="activateUser(envio.id_duenio)"
                >
                  Activar Cuenta
                </button>
                <button
                class="btn btn-danger"
                (click)="deleteUser(envio.id_duenio,envio.id_empresa)"
              >
                Eliminar Cuenta
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="data.length === 0">
        <p>No tienes empresas por activar</p>
      </div>
    </div>
  </div>
</div>
