<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="top">
  <span class="user-title">LISTA DE ADMINISTRADORES DE JAPI</span>
  <div>
    <span class="user-title">¡Bienvenido! <a class="green-primary">{{ userName | capitalizefirstletter }}</a></span>
    <img src="assets/img/foto1.jpg" alt="">
  </div>
</div>
<div class="dash-content">
  <div class="overview">
    <div class="space-row">
      <div>
        <div class="div-row baseline">
          <form id="form" method="post" class="form-default">
            <select class="button-select" (change)="selectSpinner($event.target.value)">
              <option [value]="o.id" *ngFor="let o of spinner">{{ o.descripcion }}</option>
            </select>
          </form>
          <input type="text" placeholder="Buscar..." [(ngModel)]="searchTxt" class="box-search">
          <div>
            <button type="button" class="button-filter" (click)="filterList()">Filtrar</button>
          </div>
        </div>
      </div>
      <div>
        <div class="div-row margin-top-1rem">
          <button type="button" class="button-filter" (click)="registrarAdmin()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tabla-container">
    <table class="tabla__content tabla-content">
      <thead>
        <tr>
          <th>N°</th>
          <th>Tipo</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Contraseña</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of data; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ getTipoAdmin(admin.tipo) }}</td>
          <td>{{ admin.nombres | uppercase }}</td>
          <td>{{ admin.correo }}</td>
          <td>{{ admin.pass }}</td>
          <td data-label="Opciones" class="td-button">
            <button type="button" class="button-index-green white" (click)="editarAdmin(admin)">Editar</button>
            <button type="button"
              [ngClass]="admin.activo === 0 ? 'button-index-yellow white' : 'button-index-red white'"
              (click)="cambiarEstadoUsuario(admin)"> {{ admin.activo === 0 ?'Activar' : 'Desactivar' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>