<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando ...</p>
</ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body d-flex align-items-center">
        <select
          class="form-select form-main-select col-md-3 mr-2"
          id="entrega"
          style="display: block"
          (change)="selectOptions($event.target.value)"
        >
          <option [value]="o.id" *ngFor="let o of spinner">
            {{ o.descripcion }}
          </option>
        </select>
        <input
          type="text"
          name="search"
          id="search"
          class="form-control form-main-input col-md-3 mr-2"
          [(ngModel)]="searchTxt"
          placeholder="Buscar"
        />
        <button
          class="btn btn-green"
          id="btn-search-date"
          (click)="filterList()"
        >
          Filtrar
        </button>
      </div>
      <div class="card-header">
        <h2 class="card-title">Solicitudes de Almacen</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-head">
              <th>N°</th>
              <th class="size">Nombre de la Empresa</th>
              <th class="size">Descripción del producto</th>
              <th>Cant</th>
              <th class="size">Precio Unitario</th>
              <th>Fecha</th>
              <th>Telefono</th>
              <th>Solicitud</th>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of data; index as i">
                <th>{{ i + 1 }}</th>
                <td>{{ solicitud.nombre }}</td>
                <td>{{ solicitud.descripcion }}</td>
                <td>{{ solicitud.cantidad }}</td>
                <td>{{ solicitud.precio | currency: "S/" }}</td>
                <td>{{ solicitud.fecha }}</td>
                <td>{{ solicitud.telefono }}</td>
                <td>
                  <div class="alinear">
                  <button class="btn btn-green mr-1" (click)="accept(i)">
                    Aceptar
                  </button>
                  <button
                    class="btn btn-yellow mr-1"
                    (click)="editSolicitud(solicitud)"
                  >
                    Editar
                  </button>
                  <button
                  class="btn btn-danger"
                  (click)="DeleteSolicitud(solicitud)"
                >
                  Eliminar
                </button>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
